<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="file-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/hms-output/logs/hms.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/hms-output/logs/rolling/hms.%d{yyyy-MM-dd}.%i     .log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd:mm:yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="file-appender" />
    </root>
    <logger name="com.prakash.hms.HmsApplication" level="info">
        <appender-ref ref="stdout"/>
    </logger>
</configuration>