<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()" >
          <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <span type="button" routerLink="/home"> HMS-THEA </span>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
              <li>
                  <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
                      <mat-icon>settings</mat-icon>
                  </button>
                  <mat-menu #settingsMenu="matMenu" >
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                  </mat-menu>
              </li>
              <li>
                  <button mat-icon-button>
                      <mat-icon>help_outline</mat-icon>
                  </button>
              </li>
              <li>
                  <button mat-button [matMenuTriggerFor]="profileMenu">
                      <mat-icon>person_outline</mat-icon>
                  </button>
                  <mat-menu #profileMenu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon><span class="material-icons">
                            manage_accounts
                            </span></mat-icon>
                        Edit Profile
                    </button>
                      <button mat-menu-item (click)="logout()">
                          <mat-icon>exit_to_app</mat-icon>
                          Sign out
                      </button>
                  </mat-menu>

              </li>
          </ul>
      </div>
  </mat-toolbar-row>
</mat-toolbar>