<div class="container-fluid">
    <div class="row">
      <div class="col">
        <figure class="w-100 p-5">
            <img type="button" src="../../../assets/images/login.png" routerLink="/"
            class="figure-img img-fluid rounded" alt="LoginImage"
            #tooltip="matTooltip"
            matTooltip="Click to go to Home"
            >
        </figure>
        
      </div>
      <div class="col pt-5 mt-5">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group ">
                    <mat-form-field class="col-6" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher"
                            placeholder="Prakash">
                    <button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="name.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="name.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group ">
                    <mat-form-field class="col-6" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com">
                    <button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="email.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="col-6" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="(password.hasError('minlength') || password.hasError('maxlength')) && !password.hasError('required')">
                        Password should contain 8-20 characters
                    </mat-error>
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="col-6" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" [errorStateMatcher]="matcher">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="(confirmPassword.hasError('minlength') || confirmPassword.hasError('maxlength')) && !confirmPassword.hasError('required')">
                        Password should contain 8-20 characters
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.errors?.matching">
                        Password and Confirm Password does not match
                      </mat-error>
                    </mat-form-field>
                </div>
            
                <div class="form-group">
                    <button type="submit" class="btn btn-primary me-5">Sign Up</button>
                    <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                </div>
                
            </form>
      </div>
      
    </div>
    
  </div>
  